body {
    background-color: #eee;
    text-align: center;
}

#content {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas:
        "h h h h"
        "n m m a"
        "n m m a"
        "n s s a"
        "n s s a"
        "f f f f";
}

#content>* {
    padding: 20px;
    background-color: #3bbced;
    color: white;
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

section {
    grid-area: s;
}

aside {
    grid-area: a;
}

nav {
    grid-area: n;
}

footer {
    grid-area: f;
}